 
# name: &name sg.biaseds2r1.vpcos.ddimodex.laplace1_1kwderivsnrp1sqrtcoutttr1_lntscm_ects16e16constvarode_ddpmpp_0.005eps
 
# name: &name sg.biaseds2r1bs2048.vpcos.laplace1_1kw_epselbo-2out_trtdbothinv_unift_fixedsteps8e8constt_ditslogntqknorm 
name: img512_w2p25
logger:
  project: tvm_imagenet512
  api_key: YOUR_API_KEY
  entity: YOUR_ENTITY 

outputdir: ./outputs

dataset:
  class_name: "training.dataset.ImageFolderDataset"
  path: YOUR_DATASET_PATH
  use_labels: true #this will dictate cond=true or false`
  xflip: false
  cache: true
 
dataloader:
  pin_memory: true
  num_workers: 1
  prefetch_factor: 2

encoder:
  class_name: training.encoders.StabilityVAEEncoder
  vae_name: stabilityai/sd-vae-ft-ema
  final_std: 1.0
  raw_mean: [1.56, -0.695 , 0.483, 0.729]
  raw_std: [5.27, 5.91, 4.21, 4.31] 
  use_fp16: true 

 


network: 
  class_name: training.wrapper.TVMWrapper
  
   
  model_type: "DiT_XL_2_18h" 

  model_kwargs:  
    do_mod_norm: true
    learn_guidance: true
    dropout: 0.  
     
    init_type: spectral
    time_specinit: true
    
    qk_norm: true
    
  
  data_type: bf16

  detach_jvp: false
  do_scale_param: true
 

  compile: true


loss:
  class_name: training.loss.TVMLoss
   
  s_P_mean: -0.4
  s_P_std: 1.0
  gap_P_mean: -0.8
  gap_P_std: 1.0
 
  cfg: 2.25
 
  label_dropout: 0.1
 
  
optimizer:
  class_name: torch.optim.AdamW
  lr: 1e-4
  betas: [0.9, 0.95]
  eps: 1e-8
  weight_decay: 0.
   
training:
  total_ticks: 100_000 
  ema_beta: 0.9999
  ema_target_beta: 0.99
 
  batch_size:  2048
  batch_gpu: null
 
  cudnn_benchmark: true
  enable_tf32: false
 
  kimg_per_tick: 204.8 
  snapshot_ticks: 500
  state_dump_ticks: 500
  ckpt_ticks: 50
  sample_ticks: 50
  eval_ticks: 250 
 

  #for eval 
  metrics: [fid50k_full,]

  seed: 0

  transfer: null

  # resume
  resume: null
  resume_tick: null
  
  max_grad_norm: 1.0

  num_samples: 16  
  
  do_log_image: true

  no_eval_before_tick: 300
 


 
sampling: 


  1_step:  
    num_steps: 1
    cfg_scale: 2.25
 
  2_step: 
    num_steps: 2 
    cfg_scale: 2.25

  4_step: 
    num_steps: 4 
    cfg_scale: 2.25 


eval:
  seed: 0
  cudnn_benchmark: true
  batch_size: 128
  batch_gpu: null 
  metrics: [fid50k_full,]
  resume: null
  detector_url: 'https://api.ngc.nvidia.com/v2/models/nvidia/research/stylegan3/versions/1/files/metrics/inception-2015-12-05.pkl'
  detector_kwargs: 
    return_features: True

  ref_stats: YOUR_PATH/dataset-refs/img512.pkl

 

hydra:  
  output_subdir: null  
  run:  
    dir: .
